PORT=5000
MONGO_URI=mongodb://tan2251220244_db_user:tan12345@ac-dwcrrog-shard-00-00.tc8mauz.mongodb.net:27017,ac-dwcrrog-shard-00-01.tc8mauz.mongodb.net:27017,ac-dwcrrog-shard-00-02.tc8mauz.mongodb.net:27017/?ssl=true&replicaSet=atlas-gigr08-shard-0&authSource=admin&appName=CNM